doctype html
html
  head
    title Hritik Dance Academy 
    block scripts
    block style 
  body
   nav#navbar.top.firstClass.secondClass  
        ul
            div#logo
                img(src="/static/img/logo.png") 
                | HDA 
            li #[a(herf="/") Home]  
            li #[a(herf="/") About]  
            li #[a(herf="/") Service] 
            li #[a(herf="/") Class info] 
            li #[a(herf="/") Contact]  

    block content
    footer#footer 
       |  Copyright  © 2021 HritikDanceAcademy.com | All rights  reserved         
  
      
        