//- index.pug
doctype html
html
  head
     title Hritik Dance Academy  
    style
      include ../static/style.css
      
  body
    nav#navbar.top.firstClass.secondClass  
        ul
            div#logo
                img(src="/stayic/img/log") 
                | HDA 
            li #[a(herf="/") Home]  
            li #[a(herf="/") About]  
            li #[a(herf="/") Service] 
            li #[a(herf="/") Class info] 
            li #[a(herf="/") Contact]  

        section#introSection  
           div  Welcome to Hritik Dance Academy 
           div.small Eat  Sleep  Dance Repeat 
            
            
        section#missonSection  
          h2 Our misson 
          div.card
               h3  Dance perfection
               div.card-box  
                  div.card-img 
                      img(src="/static/img/1.png")

                      div.card-content
                          p This is the best dance academy of tne universe  

         div.card
               h3 Dance the way you like 
                div.card-box  
                  div.card-img 
                      img(src="/static/img/2.png")

                      div.card-content
                          p This is the best dance academy of tne universe 

         div.card
               h3  Expert Teaching 
                div.card-box  
                  div.card-img 
                      img(src="/static/img/3.png")

                      div.card-content
                          p This is the best dance academy of tne universe 

          section#sponsorsSection  
          h2 Our sponsor 
          div#sponsors   
              img(src="/static/img/logo1.png", alt="Sponsor Image", class="spImage")
              img(src="/static/img/logo2.png", alt="Sponsor Image", class="spImage")
              img(src="/static/img/logo3.png", alt="Sponsor Image", class="spImage")
              img(src="/static/img/logo4.png", alt="Sponsor Image", class="spImage")

              

        footer#footer 
            |  Copyright  © 2021 HritikDanceAcademy.com | All rights  reserved         
  
    script
      include ../static/index .js

     